{% if __SELF__.isViteServed %}
    {% if __SELF__.shouldRenderJs() %}
        <script type="module" src="{{ __SELF__.publicUrl }}/@vite/client"></script>
        <script type="module" src="{{ __SELF__.publicUrl }}/{{ __SELF__.entryScript }}"></script>
    {% endif %}
{% else %}
    {% if __SELF__.shouldRenderJs() %}
        {% for item in __SELF__.js %}
            <script src="{{ item | theme }}"></script>
        {% endfor %}
    {% endif %}

    {% if __SELF__.shouldRenderCss() %}
        {% for item in __SELF__.css %}
            <link href="{{ item | theme }}" rel="stylesheet">
        {% endfor %}
    {% endif %}
{% endif %}
